:root {
    
    --size-hd: 10rem;
}

// dit me m nho chua
$color-pri: #F37224;
$color-second: #182951  ;
$color-third: #737B8C;
$color-text: #191A1C;
$color-text2: #333332;
$color-text3: #1A1A1A;
$color-text4:#474849;



$color-black-3: #333 ;
$color-black-2: #444545;

$color-black: #040F25;
$color-white: #F7F9FD;
$color-white2: #FFFFFF ;

$color-org: #FF9F00;
$color-red:#FF2626;
$color-green:#1D9D06 ;
$color-gray:#F0F0F0; 
$color-gray2:#ABB0BA;











//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 460px;

